/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*===============
      MAIN
===============*/
body {
  background: salmon;
}

.wrapper {
  /*background: #52CCCC;*/
  width: 100%;
  height: 558px;
}

.holder {
  height: 100%;
  width: 100%;
}

.header {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2em;
  color: white;
  margin-left: 5px;
}

/*=================
  Pop-up login
==================*/

.popup {
  /*background-color: #52CCCC;*/
  margin-top: 10px;
  /*margin-bottom: 10px;*/
  width: 100%;
  height: 37%;
  font-family: 'PT Sans Narrow', sans-serif;

/*  border: solid;
  border-size: 1px;
  border-color: white;*/
}

#popupBasic {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #52CCCC;
  border: solid 2px #52CCCC;
  width: 60%;
  border-radius: 5px;
  padding: 10px;
  display: none;
  margin: 0 auto;
  text-align: center;
}

input {
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0 0 .4em 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0,0,0,.01);
  border: 0;
  border-bottom: 5px solid rgba(0,0,0,.12);
  line-height: 40px;
}

[type='text'] {
  font-family: 'PT Sans Narrow', sans-serif;
  padding-left: 1em;
}

[type='submit'] {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  background-color: #3B5998;
  font-weight: 600;
}

[type='text']:focus {
  font-family: 'PT Sans Narrow', sans-serif;
  border: 0;
  border-bottom: 5px solid #2980b9;
  color: #3B5998;
  outline: none;
}



/*=============
  Badger Logo
==============*/

#badger-logo {
  z-index: 99;
  margin: 0 auto;
  display: block;
  width: 128px;
  height: 128px;
  background: url(/img/rsz_badger-01.png) no-repeat;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#badger-logo:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);
}
.pulse {
  -webkit-animation: pulse 400ms;
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale3d(0.9,0,9,1); }
  20% { -webkit-transform: scale3d(1.1,1.1,1); }
  40% { -webkit-transform: scale3d(0.95,0.95,1); }
  70% { -webkit-transform: scale3d(1.05,1.05,1); }
  100% { -webkit-transform: scale3d(1,1,1); }
}

/*==============
   MAIN TEXT
==============*/
.home-text {
  height: 10px;
  width: 100%;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
  font-size: 1.5em;
  color: white;
  position: relative;
  margin-top: 5px;
  /*margin-bottom: 0px;*/
}

/*================
    FBK LOGIN
================*/

.fb-login {
  position: relative;
  margin-top: 15%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}

#facebook {
  border: solid 2px #4D70B8;
  border-radius: 5px;
  margin: 0 auto;
  height: 45px;
  width: 100%;
  background-color: #3B5998;
  color: white;
  padding-top: 15px;
  font-size: 1.4em;
  font-family: 'PT Sans Narrow', sans-serif;
  padding-left: 5px;
}

#facebook-text {
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  position: inline;
  padding-top: 30px;
}

.fb-login img {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5px;
  height: 30px;
  width: 30px;
  float: left;
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}