/*========
   MAIN
=========*/

button, li , a, *:hover {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  font-family: 'Comfortaa', cursive;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Comfortaa', cursive;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.holder {
  height: 100%;
  width: 100%;
}

/*=========
   USERS
=========*/

.users-page ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.zero {
  background-color: #70CACF;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
  /*border-color: white;
  border: solid 1px;*/
}

.one {
  background-color: #EB8FBB;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
  /*border-color: white;
  border: solid 1px;*/
}

.two {
  background-color: #FED838;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
  /*border-color: white;
  border: solid 1px;*/
}

.three {
  background-color:  #5C9FD6;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
 /* border-color: white;
  border: solid 1px;*/
}

.four {
  background-color: #B5DAA1;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
  /*border-color: white;
  border: solid 1px;*/
}

.five {
  background-color: #F79F8B;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
 /* border-color: white;
  border: solid 1px;*/
}

.six {
  background-color: #70CACF;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
 /* border-color: white;
  border: solid 1px;*/
}

.seven {
  background-color: #EB8FBB;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
 /* border-color: white;
  border: solid 1px;*/
}

.eight {
  background-color: #FED838;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
 /* border-color: white;
  border: solid 1px;*/
}

.nine {
  background-color: #5C9FD6;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.1em;
 /* border-color: white;
  border: solid 1px;*/
}

.user-number {
  display: none;
}

/*================
   BADGE POP-UP
================*/

.badge-up {
  display: none;
  background-color: #00A79D;
  width:100%;
  height: 300px;
}

.badge-container {
  width: 100%;
  height: 100%;
}

.absolute-pussy {
  display: none;
  background-image: url("/img/pussy.png");
  background-size: 110px 110px;
  z-index: 99;
  margin-top: 30px;
  display: inline-block;
  height: 110px;
  width: 110px;
  /*margin: 10px;*/
  /*border: solid;
  border-size: 2px;
  border-color: white;*/
}

.attention-seeker {
  /*margin-left: auto;
  margin-right: auto;*/
  display: none;
  background-image: url("/img/attention.png");
  background-size: 110px 110px;
  margin-top: 30px;
  /*margin: 10px;*/
  display: inline-block;
  height: 110px;
  width: 110px;
  /*border: solid;
  border-size: 2px;
  border-color: white;*/
}

.hardcore-gamer {
  display: none;
  background-image: url("/img/gamer.png");
  background-size: 110px 110px;
  margin-top: 30px;
  /*margin: 10px;*/
  display: inline-block;
  height: 110px;
  width: 110px;
  /*border: solid;
  border-size: 2px;
  border-color: white;*/
}

.nerd-alert {
  display: none;
  background-image: url("/img/nerd.png");
  background-size: 110px 110px;
  margin-top: 25px;
  /*margin: 10px;*/
  display: inline-block;
  height: 110px;
  width: 110px;
  /*border: solid;
  border-size: 2px;
  border-color: white;*/
}

.heavy-drinker {
  display: none;
  background-image: url("/img/pint.png");
  background-size: 110px 110px;
  margin-top: 25px;
  /*margin: 10px;*/
  display: inline-block;
  height: 110px;
  width: 110px;
  /*border: solid;
  border-size: 2px;
  border-color: white;*/
}

.proper-spanner {
  display: none;
  background-image: url("/img/spanner.png");
  background-size: 110px 110px;
  margin-top: 25px;
  /*margin: 10px;*/
  display: inline-block;
  height: 110px;
  width: 110px;
  /*border: solid;
  border-size: 2px;
  border-color: white;*/
}

.badge-down {
  display: none;
  background-color: white;
  width:100%;
  height: 300px;
}

/*================
   NOTIFICATION
================*/

.notification {
  display: none;
  opacity: 1;
  position: fixed;
  margin-left: 12.5%;
  margin-right: auto;
  top: 20%;
  z-index: 999;
  background-color: #CC99FF;
  height: 60%;
  width: 75%;
  border: 1px white;
  border-style: solid;
  border-radius: 10px;
}

.notification p {
  text-align: center;
  font-size: 2em;
  color: black;
}

.img-notif {
  margin-left: 35%;
}

.but-close {
  margin-left: 45%;
  margin-top: 5%;
  font-size: 2em;
}

/*==================
  PROFILE BUTTON
==================*/

.profile-button {
  background-image: url('/img/50logo-01.png');
  background-size: 70px 70px;
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 10px;
  left: 10px;
}