/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*===============
      MAIN
===============*/
*{
  font-family: 'Comfortaa', cursive;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #00A79D;
}

.wrapper {
  /*background: #52CCCC;*/
  width: 100%;
  height: 558px;
}

.holder {
  height: 100%;
  width: 100%;
}

/*=================
  Pop-up login
==================*/

.popup {
  /*background-color: #52CCCC;*/
  margin-top: 10px;
  /*margin-bottom: 10px;*/
  width: 100%;
  height: 37%;

/*  border: solid;
  border-size: 1px;
  border-color: white;*/
}

#popupBasic {
  /*box-shadow: 5px 5px 2px #888888;*/
  background-color: #00A79D;
  width: 60%;
  border-radius: 5px;
  padding: 10px;
  display: none;
  margin: 0 auto;
  text-align: center;
}

input {
  margin: 0 0 .4em 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0,0,0,.01);
  border: 0;
  border-bottom: 5px solid rgba(0,0,0,.12);
  line-height: 40px;
  font-size: 1em;
}

[type='text'] {
  text-decoration: none;
  font-size: 1.7em;
  padding-left: 0.5em;
  box-shadow: 4px 4px 4px #888888;
}

[type='password'] {
  text-decoration: none;
  font-size: 1.7em;
  padding-left: 0.5em;
  box-shadow: 4px 4px 4px #888888;
}

[type='submit'] {
  box-shadow: 4px 4px 4px #888888;
  color: white;
  background-color: #3B5998;
  font-weight: 600;
}

[type='text']:focus {
  border: 0;
  border-bottom: 5px solid #2980b9;
  color: #3B5998;
  outline: none;
}

/*=============
  Badger Logo
==============*/

#badger-logo {
  z-index: 99;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: block;
  width: 128px;
  height: 128px;
  background: url(/img/logo-01.png) no-repeat;
  background-size: 128px 128px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#badger-logo:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);
}
.pulse {
  -webkit-animation: pulse 400ms;
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale3d(0.9,0,9,1); }
  20% { -webkit-transform: scale3d(1.1,1.1,1); }
  40% { -webkit-transform: scale3d(0.95,0.95,1); }
  70% { -webkit-transform: scale3d(1.05,1.05,1); }
  100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes boom {
  0% {
    margin-top:-34px;
    box-shadow:0px 34px 50px rgba(0,0,0,.1);
    background-color:rgb(180,185,190);
    transform:scale(1.1);
  }
  100%{
    margin-top:0px;
   box-shadow:0px 5px 4px rgba(0,0,0,.5);
    background-color:rgb(200,210,221);
    transform:scale(.8);
  }
}

/*==============
   MAIN TEXT
==============*/
.home-text {
  height: 80px;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.9em;
  color: white;
  position: relative;
  margin: 5px;
  /*margin-bottom: 0px;*/
}

/*================
    FBK LOGIN
================*/

.fb-login {
  box-shadow: 12px 5px 10px #888888;
  position: relative;
  margin-top: 5%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#facebook {
  border: solid 2px #4D70B8;
  border-radius: 5px;
  margin: 0 auto;
  height: 45px;
  width: 100%;
  background-color: #3B5998;
  color: white;
  padding-top: 17px;
  font-size: 1.2em;
  padding-left: 5px;
  padding-right: 5px;
}

#facebook-text {
  text-decoration: none;
  color: white;
  position: inline;
  padding-top: 30px;
}

.fb-login img {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5px;
  height: 30px;
  width: 30px;
  float: left;
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}